<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<h1>Candy List</h1>

<ul>
    {#for candy in candies}
        <li>{candy_count} - ID: {candy.id} | {candy.flavor} - Qté restante : {candy.getWeightInKg()} kg <input type="button" value="sell all (no auto-restock)" class="btn btn-primary" id="{candy.id()}"/>
        </li>
    {/for}
</ul>

<a href="/candy/form-new">Add a Candy</a> <a href="/candy/all">list all candies</a> <a href="/candy/form-sell">Sell qty of a Candy</a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</body>
<script>
    window.addEventListener("load", function () {
        document.querySelectorAll("input.btn").forEach(function (e) {
            e.addEventListener("click", function (ee) {
                console.log('I have been called');
                fetch("/candy/" + e.id, { method: "DELETE" }).then((data) => {
                    location.reload();
                })
            })
        })
    });
</script>
</html>
